div.thumbnails {
  margin-left: 0px;
}

.pass_style {
  background-color: green;
  color: #FFFFFF;
  padding: 3px;
  border-radius: 8px;
}

.fail_style {
  background-color: red;
  padding: 3px;
  border-radius: 8px;
}

.blocked_style {
  background-color: black;
  color: #FFFFFF;
  padding: 3px;
  border-radius: 8px;
}

.not_run_style {
  background-color: darkgray;
  padding: 3px;
  border-radius: 8px;
}

.testkit_select_style {
  font-size: 20px;
}

.in_width {
  width: 300px;
}

.testkit_step_border {
  border:none;
}

.testkit_step_border {
  border: 2px solid #e4e4e4;
}

.testkit_step_border:hover {
  border: 2px solid orange;
}

.testkit-move { background-image: url(/images/move.png); }
.testkit-run { background-image: url(/images/ticket_go.png); }

.testkit-folder-add { background-image: url(/images/folder_open_add.png); }
.testkit-testcase-add { background-image: url(/images/duplicate.png); }

.hide {
  border: 1px dotted black;
}