<h3 class="title"><%= l(:label_testkit_new_folder) %></h3>
<%= error_messages_for @folder %>
<%= form_for @folder, url: project_testcase_folders_path do |f| %>
  <%= render :partial => 'form', locals: { f: f } %>
<% end %>